@font-face {
  font-family: Franklingothic;
  src: url('../fonts/FranklinGothic-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ocr 01";
  src: url('../fonts/OCR-01.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cheltenhamstdbook;
  src: url('../fonts/CheltenhamStdBook.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cheltenhamstdbookcond;
  src: url('../fonts/CheltenhamStdBookCond.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Foliostd;
  src: url('../fonts/FolioStd-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ocr 02";
  src: url('../fonts/OCR-02.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #2a2a2a;
  --yellow: #ff9;
}

.page-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 1200px;
  display: flex;
  position: relative;
}

.save-the-date-container {
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.body {
  background-color: var(--black);
}

.code-embed {
  width: 500px;
}

.image {
  max-width: 900px;
}

.image-2 {
  max-width: 150px;
}

.text-block {
  color: var(--yellow);
  letter-spacing: 4px;
  font-family: "Ocr 02", Impact, sans-serif;
  font-size: 70px;
  line-height: 70px;
}

.text-block-2 {
  color: var(--yellow);
  letter-spacing: 5px;
  margin-top: 20px;
  font-family: Foliostd, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
}

.dates-div {
  grid-column-gap: 99px;
  grid-row-gap: 99px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block-3 {
  color: var(--yellow);
  font-family: Foliostd, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
}

.text-span {
  letter-spacing: -7px;
  margin-left: -22px;
  padding-left: 0;
}

.text-block-4 {
  color: var(--yellow);
  margin-top: 20px;
  font-family: Foliostd, Arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
}

.text-block-5 {
  color: var(--yellow);
  font-family: Cheltenhamstdbook, Times New Roman, sans-serif;
  font-size: 55px;
  line-height: 55px;
}

.newsletter-div {
  margin-top: 40px;
}

.text-block-6 {
  color: var(--yellow);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -30px;
  font-family: Franklingothic, Verdana, sans-serif;
  font-size: 43px;
  font-weight: 500;
  line-height: 43px;
}

.image-3 {
  width: 100px;
  margin-top: 0;
}

.image-4 {
  flex: none;
  height: 98px;
  margin-top: 100px;
  position: relative;
  inset: auto auto 0%;
}

.background {
  background-image: url('../images/lunar-dust-bg.avif');
  background-position: 50%;
  background-size: auto;
  background-attachment: fixed;
  height: auto;
  position: relative;
  inset: 0%;
  overflow: visible;
}

.div-block {
  opacity: .1;
  mix-blend-mode: normal;
  background-image: url('../images/Vintage-Dust-Texture-9.avif');
  background-position: 50%;
  background-size: auto;
  position: absolute;
  inset: 0%;
}

.spacer {
  flex: 1;
  min-height: auto;
}

.image-5 {
  width: 500px;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    height: auto;
    min-height: 100vh;
  }

  .save-the-date-container {
    max-width: 750px;
  }

  .image {
    max-width: 700px;
  }

  .image-2 {
    max-width: 100px;
  }

  .text-block {
    font-size: 60px;
    line-height: 60px;
  }

  .text-block-2, .text-block-3 {
    font-size: 50px;
    line-height: 50px;
  }

  .text-block-4 {
    font-size: 30px;
    line-height: 30px;
  }

  .text-block-5 {
    font-size: 50px;
    line-height: 50px;
  }

  .image-3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .save-the-date-container {
    max-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  .page-wrapper {
    z-index: 99;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    min-height: auto;
    padding-bottom: 100px;
    display: flex;
    overflow: hidden;
  }

  .save-the-date-container {
    flex: none;
    justify-content: flex-start;
    max-width: 375px;
    min-height: auto;
    padding-top: 22px;
  }

  .code-embed {
    width: 95vw;
    max-width: 400px;
  }

  .image {
    max-width: 350px;
    font-size: 10px;
  }

  .image-2 {
    width: 150px;
    max-width: 200px;
  }

  .text-block {
    font-size: 40px;
  }

  .text-block-2, .text-block-3 {
    font-size: 40px;
    line-height: 40px;
  }

  .text-block-5 {
    font-size: 45px;
    line-height: 45px;
  }

  .text-block-6 {
    text-align: center;
    letter-spacing: -2px;
    font-size: 50px;
    line-height: 50px;
  }

  .image-3 {
    width: 150px;
    max-width: none;
  }

  .image-4 {
    height: auto;
    position: absolute;
    inset: auto 0% 0%;
  }

  .background {
    height: auto;
    position: relative;
    overflow: visible;
  }

  .div-block {
    z-index: 9;
    width: 100vw;
    height: 100vh;
  }
}


@font-face {
  font-family: 'Franklingothic';
  src: url('../fonts/FranklinGothic-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ocr 01';
  src: url('../fonts/OCR-01.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenhamstdbook';
  src: url('../fonts/CheltenhamStdBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheltenhamstdbookcond';
  src: url('../fonts/CheltenhamStdBookCond.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Foliostd';
  src: url('../fonts/FolioStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ocr 02';
  src: url('../fonts/OCR-02.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}